[Unit]
Description=Teamspeak 3 server
After=network.target

[Service]
User=teamspeak
Group=teamspeak
ExecStart=/home/teamspeak/ts3server_minimal_runscript.sh

[Install]
WantedBy=multi-user.target
